.page-header {
  margin: 75px 0 23px;
}
.panel {
  .delete {
    position: absolute;
    right: 0;
    border-radius: 64px;
    padding: 10px 15px;
  }

  .create {
    display: none;
    position: absolute;
    top: -20px;
    left: -5px;
    border-radius: 64px;
    padding: 10px 16px;
  }

}
.content {
  margin-bottom: 100px;
}
.footer {
  background-color: #f5f5f5;

  .navbar-brand {
    font-size: 14px;
    margin: 0;
  }
}

.workday {
  .dropup .caret {
    border-top: 0;
    border-bottom: 15px solid;
  }

  .caret {
    border-top: 15px dashed;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    visibility: hidden;
  }

  .date-input {
    position: absolute;
    display: inline;
    height: 0px;
    border: none;
    padding: 0;
  }

  .new-workday {
    .create {
      display: block;
    }

    .delete {
      display: none;
    }

    .caret {
      visibility: visible;
    }
  }

}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?') format('embedded-opentype'),
    url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'),
    url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('packages/bootswatch_paper/bootstrap/dist/fonts/glyphicons-halflings-regular.svg') format('svg');
}
